body {
	color: #222450;
	background: #EEF2FF;
	margin: 0;
}
a {
	color: #405086;
	text-decoration: none;
}
p {
	margin: 10px 0;
}

textarea, input {
	border: 1px solid #aaa;
	background-color: #eef2ff;
	padding: 4px;
	color: #444;
	margin: 0;
	width: 97%;
}

th {
	background-color: #98E;
	border: solid 1px #000;
}

hr {
	border: 1px solid #B7C5D9;
	margin: 20px 0;
}

blockquote {
	border-left: 2px solid #EEF2FF;
	padding: 0px 8px;
	margin: 0;
}

.post, .catalog {
	background: #D6DAF0;
	border-radius: 2px;
	display: table;
	padding: 6px 8px 0 8px;
	margin: 5px;
}
.catalog {
	display: inline-block;
}
.thread {
	display: table;
	padding: 0 12px 0 12px;
	margin: 5px;
}
.byline {
	font-size: 11px;
	color: #98A4C6;
}
.post img.thumb {
	max-width: 200px;
	max-height: 200px;
	padding: 10px 10px 10px 0px;
}
.thread img.thumb {
	max-width: 300px;
	max-height: 300px;
	padding: 10px 10px 10px 0px;
}

.centeredreports{
	text-align: center;
}
		.item{
			margin-left: 10%;
			margin-right: 10%;
			padding-left: 5%;
			border-style: solid;
			background-color: #ffffff;
		
		}



#wrap {
	width: 1000px;
	margin: 50px auto;
}
#left {
	width: 650px;
	float: left;
}
#right {
	width: 300px;
	height:600px;
	float: right;
	background: #D6DAF0;
	border-radius: 2px;
	display: table;
	padding: 10px;
	margin: 5px;
}
#header {
	width: 100%;
	height: 20px;
	background: #D6DAF0;
	margin-bottom: 50px;
	border-radius: 2px;
	padding-top: 4px;
	word-spacing: 4px;
}

/*MERGE WITH EXSISTING STYLESHEET*/
#comment {
    background: #303030;
    border-bottom-width: 0px;
    border-color: #a58855;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    color: #a58855;
    font-family: monospace;
    outline: 0;
    transition: border-bottom-width 0.1s, background 0.1s, border-color 0.5s, color 0.3s;
}

#comment:focus {
    background: #212121;
    border-color: #5572a5;
    border-bottom-width: 3px;
    color: #5572a5;
}

#comment:hover {
    background: #212121;
    border-bottom-width: 3px;
}

#header {
    background-color: #212121;
    border-style: none;
    color: #5572a5;
    font-variant: small-caps;
}

#header a {
    transition: color 0.3s;
}

#header a:hover {
    color: #ffffff;
}

#left hr {
    border-color: #333333;
    border-width: 1px;
}

#right {
    background: none;
    border-radius: 10px;
    font-family: Helvetica;
}

#right form input {
    background: none;
    border-bottom-width: 0px;
    border-color: #a58855;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    color: #a58855;
    font-family: monospace;
    outline: 0;
    transition: border-bottom-width 0.1s, background 0.1s, border-color 0.5s, color 0.3s;
}

#right form input:focus {
    border-color: #5572a5;
    border-bottom-width: 3px;
    color: #5572a5;
}

#right form input:hover {
    border-bottom-width: 3px;
}

#right form input[type="submit"] {
    font-weight: 700;
    color: #5572a5;
    border-color: #5572a5;
}

#right form input[type="submit"]:hover {
    border-color: #5572a5;
    background: #303030;
}

#right form input[type="submit"]:active {
    background: #151515;
}

#right p b {
    color: #5572a5;
    font-size: 40px;
    font-variant: small-caps;
}

::selection {
    background: #000;
    color: #5572a5;
}

body center a {
    color: #b0b0b0;
    font-weight: bold;
}

body center h1 {
    color: #5572a5;
    font-variant: small-caps;
}

div.byline a {
    font-variant: small-caps;
    transition: color 0.3s;
}

div.byline a:hover {
    color: #990000;
}

div.byline span a {
    transition: color 0.3s;
}

div.byline span a:hover {
    color: #990000;
}

div.flash {
    background-color: #420000;
    border-radius: 5px;
    color: #bd4c4c;
    font-style: italic;
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
    width: 400px;
}

div.flash::before {
    color: #bd8080;
    content: "note";
    display: block;
    font-style: normal;
    font-variant: small-caps;
    margin-bottom: 8px;
    text-transform: lowercase;
}

div.post {
    background: none;
    border-bottom-width: 0;
    border-color: #5572a5;
    border-left-width: 4pxpx;
    border-radius: 4px;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    margin-left: 32px;
    transition: background 0.3s;
}

div.post:hover {
    background: #252525;
}

div.post_body p a:hover {
    color: #990000;
}

div.thread {
    margin: 0;
}

html body {
    background-color: #212121;
    color: #a58855;
    font-family: monospace;
}

img.thumb {
    background-color: #303030;
    border-radius: 15px;
    border-style: none;
    margin-top: 8px;
    padding-left: 10px !important;
    transition: background-color 0.3s;
}

img.thumb:hover {
    background-color: #353535;
}

ul li h2 {
    color: #5572a5;
}

div.post_body p a {
    transition: color 0.3s;
}

div.item {
    background-color: #212121;
    color: #a58855;
    border-radius: 3px;
}

<<<<<<< HEAD
thead tr th {
    background: #333;
    border: none;
}
=======

.lightbox {

	display: none;


	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {

	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {

	outline: none;


	display: block;
}
>>>>>>> 3ba9e4bf1155c7a376d2a792d8c38fdc5a1130ec
