/* 
 *                                          
 *  ▄▄▄▄                  ▀                 
 * ▄▀  ▀▄ ▄▄▄▄▄  ▄ ▄▄   ▄▄▄    ▄   ▄   ▄▄▄  
 * █    █ █ █ █  █▀  █    █    █   █  █   ▀ 
 * █    █ █ █ █  █   █    █    █   █   ▀▀▀▄ 
 *  █▄▄█  █ █ █  █   █  ▄▄█▄▄  ▀▄▄▀█  ▀▄▄▄▀ 
 *                                          
 * Default stylesheet
 * GPLv3
 *
 */

/* *** FONT DEFINITIONS *** */
@font-face {
    font-family: "Unscii";
    src: url("unscii.woff");
}

/* *** BASIC ELEMENTS *** */
html {
    background-color: #101010;
    color: #f0a000;
    font-family: monospace;
    font-size: 110%;
    text-align: center;
    margin: 40px;
}

h1, h2 {
    font-family: "Unscii", monospace;
}

a, .fake_a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #f0a000;
    transition: color 0.3s;
    cursor: pointer;
}

a:hover {
    color: #f0a000;
    text-decoration: none;
    border-bottom: 1px solid #be5500;
}

pre code {
    font-size: 0.9em;
    font-family: monospace;
    text-decoration: none;
    color: white;
}

hr {
    color: #f0a00;
    background-color: #f0a000;
    border-color: #f0a000;
}

blockquote {
    border-left: 1px solid white;
    padding: 10px;
    margin: 0;
    color: white;
    line-height: 170%;
}

blockquote p {
    margin: 0;
}

/* *** HOMEPAGE *** */

.index_block, .content_block {
    border: 1px solid #f0a000;
}

.index_block {
    padding: 60px;
    padding-top: 25px;
    margin: 50px;
}

.content_block {
    padding: 60px;
    padding-top: 25px;
    margin: 50px 0;
}

.left_box {
    width: 49%;
    display: inline-block;
}

.right_box {
    width: 49%;
    display: inline-block;
}

.r_posts .post {
    background-color: #161616;
    margin: 15px auto;
    width: 70%;
    border: 1px solid #f0a000;
    padding: 5px;
}
/* *** SITEWIDE PAGE ELEMENTS *** */

#header {
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #f0a000;
    width: 100%;
    height: 20px;
    margin-bottom: 50px;
    border-radius: 2px;
    padding-top: 4px;
    word-spacing: 4px;
}

#header a {
    transition: color 0.3s;
    border: none;
}

#header a:hover {
    color: #f0a000;
}

#wrap {
    text-align: left;
    width: 1000px;
    margin: 50px auto;
}

.catalog {
    display: inline-block;
    border: 1px solid #f0a000;
    margin: 10px 0;
    padding: 10px;
    background-color: #161616;
}

.sidebar{
    border: 1px solid #f0a000;
    background-color: #161616;
    padding: 10px;
    position: fixed;
    top: 10%;
    left: 77%; 
    right: 5%;
    
}
.posts {
    text-align:left;
    padding-left: 35%;
}

/* *** LIGHTBOX *** */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

/* *** POST FORM *** */

nav {
    display: none;
}

nav:target {
    display: block !important;
}

.sidebarfix{
    position: fixed;
    top: 10%;
    right: 10px;
    min-width: 30%;
}

.sidebarbuttonON {
    z-index: 1000;
}

.sidebarbuttonOFF {
    z-index: 1001;
}

#right {
    display: block;
    background: #161616;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border: 1px solid #f0a000;
    text-align: left;
}

#right p {
    text-align: center;
}

#right form {
    margin: 10px;
    margin-right: 20px;
}

input, textarea, button {
    color: #f0a000;
    background-color: #101010;
    border: 1px solid #f0a000;
    margin: 5px;
}

#file {
    max-width: 250px;
}

/* *** THREAD/BOARD *** */

.threadbox {
    border: 1px solid #f0a000;
    margin: 10px 0;
}

.thread, .post {
    padding: 20px;
    margin: 5px;
    background-color: #161616;
}

.thumb, .post_body {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.thread, .post_body p {
    line-height: 120%;
}

#subject {
    color: white;
}
