{% extends "layout.html" %}
<!doctype html><head>
<title>Omnius</title>
<link rel=stylesheet type=text/css href="/static/{{ css }}">
<body>
{% block body %}
    <h1>⬝•●◖◗⬤ OMNIUS ⬤◖◗●•⬝</h1>
    &lt; Any key to continue &gt;

    <div class="content_block">
	<h2> WELCOME </h2>
	<div class="left_box">
	    &lt; boards &gt;<br />
	    {% for x in boards %}
	    <a href="{{ x[0] }}">/{{ x[0] }}/</a><br />
	    {% endfor %}
	</div>
	<div class="right_box">
	    &lt; active content statistics &gt;<br />
	    Total posts and replies: {{ total_posts }}<br />
	    Total OPs: {{ total_ops }}<br />
	    Total Images: {{ total_images }}<br />
	    <br />
	    &lt; popular threads &gt;<br />
	    {% for entry in popular_threads %}
		<a href="/{{ entry.board }}/{{ entry.id }}">{{truncate(re.sub("<[^<]+?>", "",entry.text | markdown))}}</a><br />
	    {% endfor %}
	</div>
    </div>
    <h2> Recent Posts </h2>
    <div id="r_posts">
    {% for entry in recent_posts %}
    <div class="posts"> 
	    {% include("thread_partial.html") %}
  
    {% endfor %}
    </div>
    
	

</body>
{% endblock %}

