{% extends "layout.html" %}
<!doctype html><head>
<title>devchan</title>
<link rel=stylesheet type=text/css href="/static/{{ css }}">
<body>
{% block body %}
<center>
<h1>Eotrf Image Board</h1>
</center>
<div class="item">

<ul style="list-style-type: none;">
	<li><h2>/tech</h2></li>
 This is a board for the discussion of general technology that does not belong in /programming. This includes general software and hardware discussion.

	<li><h2>/programming</h2></li>
 This is a board for the discussion of programming practices, languages, utilities, and general software development discussion. No node.js allowed ;)
	<li><h2>/media</h2></li>
This board is dedicated to Movies, TV, Music, and Art. Nudity and sexuality is allowed as long as it conforms to US law and is not overly graphic.
</ul>



<!--
<table style="margin-left: 10%;margin-right: 10%;border-style: solid;background-color: #ffffff; text-align:left;">
	<tr style="padding-left: 0%; padding-right: %0;">
		<th style="padding-left: 0%; padding-right: 0%"><a href="/tech"> /tech </a></th>
		<th style="padding-left: 1%; padding-right: 1%"> This is a board for the discussion of general technology that does not belong in /programming. This includes general software and hardware discussion.</th>
	</tr>
	<tr style="padding-left: 1%; padding-right: 10%;">
		<th><a href="/programming"> /programming </a> </th>
		<th style="padding-left: 1%; padding-right: 10%;"> This is a board for the discussion of programming practices, languages, utilities, and general software development discussion. No node.js allowed ;) </th>
	</tr>
	<tr style="padding-left: 1%; padding-right: 10%;">
		<th><a href="/media"> /media </a> </th>
		<th style="padding-left: 1%; padding-right: 10%;">This board is dedicated to Movies, TV, Music, and Art. Nudity and sexuality is allowed as long as it conforms to US law and is not overly graphic. Keep in mind art is subjective, if you don't like a thread, dont bump it. </th>
	</tr>

</table> -->


</div>
<br /><br />
<center>Moderators please see <a href="/mod"> Mod Panel </a></center></div>
</body>
{% endblock %}

