<!doctype html>
<title>/{{ board }}/</title>
{# <link rel=stylesheet type=text/css href="{{ url_for('static', filename= 'style.css') }}"> #}
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<link rel=stylesheet type=text/css href="/static/{{ css }}">
{% block header %}
<center>
<div id='header'> [
	<a href='/'>home</a>
	<a href='/all'>all</a> ][ 
	<a href='/tech'>tech</a>
	<a href='/diy'>diy</a>
	<a href='/lam'>λ</a> ][ 
	<a href='/r'>r</a>
        <a href='/cult'>cult</a>
	<a href='/meta'>meta</a> ]
	[ <a href='/settings'>settings</a> ]
</div>
{% endblock %}

{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}
</center>

{% block body %}

{% endblock %}

<script>
function cite(id, op_id, board) {
	if (document.getElementById("comment") == null) {
		if (op_id == 0) {
			window.location.href = "/" + board + "/" + id + "/#nav"
		} else {
			window.location.href = "/" + board + "/" + op_id + "/#nav"
		}
	}
	document.getElementById('comment').value+="[@" + id + "](#" + id + ")\n";
	reply = true;
	window.location.href = "#nav";
}
</script>
