<!DOCTYPE html>
<html lang = "en">
   <head>
<link rel=stylesheet type=text/css href="/static/{{ css }}">
	<title>Mod Central</title>
	<style type="text/css">
		.item{
			margin-left: 10%;
			margin-right: 10%;
			padding-left: 5%;
			border-style: solid;
		}
	</style>

   </head>
   <body>
	<center>
      <h2>Modpage</h2>
	</center>
      <hr/>
<div class="item">
<ul>
	<li><a href="/mod/reports"> Reports </a></li>
	<li><a href="/mod/modadd"> Add User </a></li>
	<li><a href="/mod/deluser"> Remove User </a></li>
  <li><a href="/mod/changepassword"> Change Your Password </a></li>
	<li><a href="/mod/edrules"> Edit Rules </a></li>
    <li><a href="/mod/uploadcss"> Upload a new CSS stylesheet </a></li>
    <li><a href="/mod/bans"> View and dismiss bans </a></li>
<ul

<div>
   </body>
</html>
