<!DOCTYPE html>
<html lang = "en">
   <head>
<link rel=stylesheet type=text/css href="/static/{{ css }}">
	<title>Mod Central</title>
	<style type="text/css">
		.item{
			margin-left: 10%;
			margin-right: 10%;
			padding-left: 5%;
			border-style: solid;
			background-color: #ffffff;
		
		}
	</style>
	
   </head>
   <body>
	<center>
      <h2>Modpage</h2>
	</center>
      <hr/>
<div class="item">
<ul>
	<li><a href="/reports"> Reports </a></li>
	<li><a href="/modadd"> Add User </a></li>
	<li><a href="/moddel"> Remove User </a></li>
	<li><a href="/edrules"> Edit Rules </a></li>
	<li><a href="/uploadcss"> Upload a new CSS stylesheet </a></li>
<ul

<div>
   </body>
</html>
