{% extends "layout.html" %}
{% block body %}
<nav id="nav" name="nav">
<div class="sidebarfix sidebarbuttonOFF">
<a href="#buttonON">CLOSE</a>
{% include 'sidebar.html' %}
</div>
</nav>
<div id=wrap>
<div name="buttonON"><a href="#nav">POST</a> </div>
<div id=left>
<div class="threadbox">
{% for entry in entries %}
{% if entry.new_thread %}
</div>
<div class="threadbox">
{% endif %}
{% if entry.op_id %}
<div class=post>
{% else %}
<div class=thread>
{% endif %}
    {% include "thread_partial.html" %}

{% endfor %}
</div>
{% endblock %}

