{% extends "layout.html" %}
{% block body %}
<div id=wrap>

<div id=left>
{% for entry in entries %}

{% if entry.op_id %}
<div class=post>

{% else %}
</div>
<div class=threadbox>
<div class=thread>
{% endif %}
	{% if entry.fname %}
	<a href="#_" class="lightbox" id="img{{ entry.id }}"><img src="/static/images/{{ entry.fname }}"></a>
	<a href="#img{{ entry.id }}" style="border: none;"> <img class=thumb src=/static/thumbs/{{ entry.fname }}></a>
	{% endif %}
	<div class='post_body' id='{{ entry.id }}'>
	    <div class='byline'>
		{% if not entry.op_id %}
		<a href=/{{ entry.board }}>/{{ entry.board }}/</a>
		{% endif %}
		<span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		{% if not entry.op_id %}
		<span><a href='/{{ entry.board }}/{{ entry.id }}'>#{{ entry.id }}</a></span>
		{% else %}
        <span><a href='/{{ entry.board }}/{{ entry.op_id }}/#{{ entry.id }}'>#{{ entry.id }}</a></span>	
		{% endif %}
	    </div>
	    {{ entry.text|markdown }}
	</div>
</div>
{% endfor %}
</div>
<div class=sidebar>
	<p><b>Eotrf</b></p>
	<b>Rules</b>
	<p></p>
	{% for rule in rules %}

                  <p>{{ rule.rules }}</p>
                  
       {% endfor %}
</div>

</div>
{% endblock %}
