{% extends "layout.html" %}
{% block body %}
<div id=wrap>
<div name="buttonON"><a href="#nav">POST</a> </div>
<div id=left>
{% for entry in entries %}

{% if entry.op_id %}
<div class=post>

{% else %}
</div>
<div class=threadbox>
<div class=thread>
{% endif %}
    {% if entry.fname %}
    <a href="#_" class="lightbox" id="img{{ entry.id }}"><img src="/static/images/{{ entry.fname }}"></a>
    <a href="#img{{ entry.id }}"> <img class=thumb src=/static/thumbs/{{ entry.fname }}></a>
    {% endif %}
    <div class='post_body' id='{{ entry.id }}'>
	<div class='byline'>
	    <span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		{% if not entry.op_id %}
			<span><a href='{{ entry.id }}'>#{{ entry.id }}</a></span>
		<a href="{{ url_for('report') }}?id={{entry.id}}&board={{board}}&thread={{entry.op_id}}">report</a>

		{% else %}
			<a href='#{{ entry.id }}' onclick="cite({{ entry.id }})">#{{ entry.id }}</a>
		<a href="{{ url_for('report') }}?id={{entry.id}}&board={{board}}&thread={{entry.op_id}}">report</a>

		{% endif %}
	</div>
	{{ entry.text|markdown }}
    </div>
</div>

{% endfor %}
</div>
<nav id="nav" name="nav">
<div class="sidebarfix sidebarbuttonOFF">
<a href="#buttonON">CLOSE</a>
{% include 'sidebar.html' %}
</div>
</nav>
</div>
{% endblock %}

