<div class="sidebarfix sidebarbuttonOFF">
<a href ="#buttonON">CLOSE</a>

<div id=right>
	<p><b>{{ sidebar.long_name }}</b></p>
	{{ sidebar.description|markdown if sidebar }}
	{% if board != 'all' %}
	<form action="{{ url_for('add_reply') }}" enctype=multipart/form-data method=post>
		<input type="hidden" name="board" value="{{ board }}">
		<input type="hidden" name="op_id" value="{{ id }}">
		<input type=text name=name placeholder=Name><br>
		<input type=text name=email placeholder=Email><br>
		<input type=text name=subject placeholder=Subject style="display: none;"><br>
		<textarea id=comment name=post_content rows=8 placeholder="Comment (Markdown)" style='width: 98%;'></textarea><br>
		<input id="file" type=file name=file><br>
		<input type=submit value=Reply style='width: 100%'>
	</form>
	{% endif %}

</div>
</div>
