   {% if entry.fname %}
    <a href="#_" class="lightbox" id="img{{ entry.id }}">
       {% if entry.fname.split('.')[-1] == "webm" %}
	 <video controls>
	    <source src="/static/images/{{ entry.fname }}" />
	 </video>
       {% else %}
	  <img src="/static/images/{{ entry.fname }}">
       {% endif %}
    </a>
    <a href="#img{{ entry.id }}" style="border: none;"> <img class=thumb src={{ entry.thumbnail }}></a>
    {% endif %}
    <div class='post_body' id='{{ entry.id }}'>
	<div class='byline'>
	    <span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		
		<!--<span class="fake_a" onclick="cite({{ entry.id }}, {{ entry.op_id }}, {{ json.dumps(entry.board) }})">#{{ entry.id }}</span>-->
		{% if board != 'all' %}
		
		{% if entry.op_id %}
		<a href="{{ entry.op_id }}#{{ entry.id }}">#{{ entry.id }}</a>
		{% else %}
		    <a href="{{ entry.id }}">#{{ entry.id }}</a>
		{% endif %}

		{% else %}
		
		{% if entry.op_id %}
		<a href="/{{ entry.board }}/{{ entry.op_id }}#{{ entry.id }}">#{{ entry.id }}</a>
		{% else %}
		<a href="/{{ entry.board }}/{{ entry.id }}">#{{ entry.id }}</a>
		{% endif %}

		{% endif %}
        <a href="{{ url_for('report') }}?id={{entry.id}}&board={{board}}&thread={{entry.op_id}}">report</a>
        <a href="/{{ entry.board }}/{{entry.id}}/">reply</a>

	</div>
	{{ entry.text|markdown }}
    </div>
</div>

