   {% if entry.fname %}
    <a href="#_" class="lightbox" id="img{{ entry.id }}"><img src="/static/images/{{ entry.fname }}"></a>
    <a href="#img{{ entry.id }}"> <img class=thumb src=/static/thumbs/{{ entry.fname }}></a>
    {% endif %}
    <div class='post_body' id='{{ entry.id }}'>
	<div class='byline'>
	    <span>{{ entry.subject }}</span>
		<span>
			{% if entry.email %}
			<a href="mailto:{{ entry.email }}">{{ entry.name }}</a>
			{% else %}
			{{ entry.name }}
			{% endif %}
		</span>
		<span>{{ entry.date }}</span>
		
			<a href='#{{ entry.id }}' onclick="cite({{ entry.id }})">#{{ entry.id }}</a>
		<a href="{{ url_for('report') }}?id={{entry.id}}&board={{board}}&thread={{entry.op_id}}">report</a>

	</div>
	{{ entry.text|markdown }}
    </div>
</div>

